################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/config/applicationhost.config
/.vs/evo map/v15/.suo
/.vs
